{% include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="
    background-image: url('https://images.pexels.com/photos/270640/pexels-photo-270640.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=800&w=1260');
  "
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Tejas's Blog</h1>
          <span class="subheading">A collection of random musings.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<!-- <div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for post in all_posts %}
      <div class="post-preview">
        <a href="{{ url_for('show_post', post_id=post.id) }}">
          <h2 class="post-title">{{post.title}}</h2>
          <h3 class="post-subtitle">{{post.subtitle}}</h3>
        </a>
        <p class="post-meta">
          Posted by {{post.author.name}} on {{post.date}} {% if current_user.id
          == 1: %}
          <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
          {% endif %}
        </p>
      </div>
      {% endfor %}
 -->
    <section id="index">
      <div class="main">
        <h1>{{all_posts[0].title}}</h1>
        <h3>{{all_posts[0].subtitle}}</h3>
        <p>
          {{all_posts[0].body}}
        </p>
      </div>
      <div class="sub sub1">
        <h1>Blog Post 1</h1>
        <h3>Subtitle</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
          explicabo repellendus temporibus debitis deserunt reiciendis eligendi
          ex minus, expedita nam, modi eum eius inventore illo sed consequatur
          aut animi quasi!
        </p>
      </div>
      <div class="sub sub2">
        <h1>Blog Post 2</h1>
        <h3>Subtitle</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
          explicabo repellendus temporibus debitis deserunt reiciendis eligendi
          ex minus, expedita nam, modi eum eius inventore illo sed consequatur
          aut animi quasi!
        </p>
      </div>
    </section>
    <h1>Podcasts</h1>
    <section id="podcasts">
      <div class="podcast podcast1">Podcast1</div>
      <div class="podcast podcast2">Podcast2</div>
      <div class="podcast podcast3">Podcast3</div>
      <div class="podcast podcast4">Podcast4</div>
      <div class="podcast podcast5">Podcast5</div>
      <div class="podcast podcast6">Podcast6</div>
      <div class="podcast podcast7">Podcast7</div>
      <div class="podcast podcast8">Podcast8</div>
      <div class="podcast podcast9">Podcast9</div>
    </section>
    <h1>Other</h1>
    <section id="others">
      <div class="other other1">
        <img src="" alt="image not loading Lol">
        <h1>Title</h1>
        <p>Description</p>
      </div>
      <div class="other other2">
          <img src="" alt="image not loading Lol">
        <h1>Title</h1>
        <p>Description</p>
      </div>
      <div class="other other3">
          <img src="" alt="image not loading Lol">
        <h1>Title</h1>
        <p>Description</p>
      </div>
    </section>
 <!-- New Post -->
      {% if current_user.id == 1: %}
      <div class="clearfix">
        <a
          class="btn btn-primary float-right"
          href="{{url_for('add_new_post')}}"
          >Create New Post</a
        >
      </div>
      {% endif %}
    </div>
  </div>
</div>
<hr />

{% include "footer.html" %}
